.form-label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #595959;
    margin-bottom: 0.25rem;
}

.form-input {
    margin-top: 0.50rem;
    display: block;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 0.6rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-input:focus {
    outline: none;
    border:2px solid #3497F9;
    /* box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); */
}
  
  select:has(option[value=""]:checked) {
    color: #9ca3af;;
  }
  select option {
    color: black;
  }
  select option:checked[value="choose"] {
    color: #9ca3af;
  }
 

input[type="date"] {
  font-size: 1em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black !important; 
}

/* input[type="date"]::-webkit-datetime-edit {
  color: #9ca3af; 
} */



/* input[type="date"]:focus::-webkit-datetime-edit {
  color: black; 
}

input[type="date"]::-webkit-datetime-edit:valid {
  color: black !important;  
}

input[type="date"]:invalid {
  color: #9ca3af; 
} */
